package-manager=pnpm@10
strict-peer-dependencies=false
node-linker=isolated
link-workspace-packages=true
prefer-workspace-packages=true
auto-install-peers=true
shared-workspace-lockfile=true
loglevel=warn
